Repository tdg5/reqless-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, removestar, safety-production-dependencies-check

black:
  name: black
  language: system
  entry: black
  args:
  - qless
  - qless_test

flake8:
  name: flake8
  language: python
  entry: flake8
  args:
  - qless
  - qless_test
  additional_dependencies:
  - darglint
  - dlint
  - flake8-comprehensions
  - flake8-eradicate
  - flake8-spellcheck
  - flake8-typing-imports
  - mccabe
  - pep8-naming

removestar:
  name: removestar
  language: system
  entry: removestar
  args:
  - -i
  - qless
  - qless_test

safety-production-dependencies-check:
  name: Safety production dependencies check
  entry: safety
  args:
  - check
  - --policy-file=.safety-policy.yml
  - --full-report
  - --file
  language: system

Add interfaces for AbstractJobData and AbstractJobProcessor
  qless/abstract/__init__.py
  qless/abstract/abstract_job_data.py
  qless/abstract/abstract_job_processor.py
  qless_test/test_job_processor_api.py
Due: black, flake8, removestar

[skip actions] Increment version for next development cycle
  VERSION
Due: none

Upgrade cryptography to address vulnerability
  requirements.txt
Due: safety-production-dependencies-check

Fix interface of AbstractJobProcessor to make process static
  qless/abstract/abstract_job_processor.py
Due: black, flake8, removestar

Add typing_extensions as a runtime dependency
  setup.py
Due: black, flake8, removestar

Get off funky black beta
  pyproject.toml
  requirements.txt
  setup.py
Due: black, flake8, removestar, safety-production-dependencies-check

Update author email and name associated with automated commits
  .github/workflows/main-build-and-publish.yml
Due: none

Fix spelling of spamburglar
  .github/workflows/main-build-and-publish.yml
Due: none

Remove nonsense pydantic config from pyproject.toml
  pyproject.toml
Due: none

Extend github workflows with check to make sure requirements.txt is up to date
  .github/workflows/main-build-and-publish.yml
  .github/workflows/other-check-quality-and-tests.yml
Due: none

Move setup.cfg configs to pyproject.toml and fix some styles
  .pre-commit-config.yaml
  pyproject.toml
  qless/abstract/abstract_client.py
  qless/abstract/abstract_config.py
  qless/abstract/abstract_job.py
  qless/abstract/abstract_job_data.py
  qless/abstract/abstract_job_processor.py
  qless/abstract/abstract_jobs.py
  qless/abstract/abstract_queue.py
  qless/abstract/abstract_queue_identifiers_transformer.py
  qless/abstract/abstract_queue_jobs.py
  qless/abstract/abstract_queue_resolver.py
  qless/abstract/abstract_queues.py
  qless/abstract/abstract_throttle.py
  qless/abstract/abstract_throttles.py
  qless/abstract/abstract_workers.py
  qless/queue_resolvers/transforming_queue_resolver.py
  qless_test/test_client.py
  qless_test/test_job_processor_api.py
  setup.cfg
  setup.py
Due: black, flake8, removestar

Fix missing and outdated requirements
  requirements.txt
Due: safety-production-dependencies-check

Move setup.py configs to pyproject.toml
  .github/workflows/main-build-and-publish.yml
  .github/workflows/other-check-quality-and-tests.yml
  .gitignore
  LICENSE
  MANIFEST.in
  pyproject.toml
  setup.py
Due: black, flake8, removestar

Minor tweaks to pyproject.toml
  pyproject.toml
Due: none

Rename *.yml to *.yaml
  .github/workflows/main-build-and-publish.yaml
  .github/workflows/other-check-quality-and-tests.yaml
  .pre-commit-config.yaml
  .safety-policy.yaml
Due: none

Fix pip install instructions in README
  README.md
Due: none

Remove defunct file
  .python-version
Due: none

0.13.0 release
  VERSION
Due: none

Stop tracking version and add action to explicitly handle releases
  .github/workflows/main-branch.yaml
  .github/workflows/other-branch.yaml
  .github/workflows/release.yaml
  .gitignore
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  .pre-commit-config.yaml
  README.md
  VERSION
  pyproject.toml
  requirements.txt
Due: safety-production-dependencies-check

[skip actions] Update code coverage snapshot
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
Due: none

Cache pip dependencies in github workflows
  .github/workflows/main-branch.yaml
  .github/workflows/other-branch.yaml
  .github/workflows/release.yaml
Due: none

Use pytest for test runner instead of nose
  .github/workflows/main-branch.yaml
  .github/workflows/other-branch.yaml
  .github/workflows/release.yaml
  .meta/coverage/report.txt
  Makefile
  pyproject.toml
  requirements.txt
  tox.ini
Due: safety-production-dependencies-check

Clean up and upgrade some dependencies
  pyproject.toml
  requirements.txt
Due: safety-production-dependencies-check

Replace logger.warn with logger.warning
  reqless/importer.py
  reqless/job.py
  reqless/workers/forking.py
  reqless/workers/greenlet.py
  reqless/workers/worker.py
Due: black, flake8, removestar

[skip actions] Update code coverage snapshot
  .meta/coverage/report.txt
Due: none

Remove whitespace
  pyproject.toml
Due: none

Modernize install from local repository instructions
  README.md
Due: none

Path conditions:
  black: any of: \.py$, but not: docs|.git|.tox
  flake8: any of: \.py$, but not: docs|.git|.tox
  removestar: any of: \.py$, but not: docs|.git|.tox
  safety-production-dependencies-check: any of: requirements.txt, but not: docs|.git|.tox
