Repository tdg5/reqless-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, removestar, safety-production-dependencies-check

black:
  name: black
  language: system
  entry: black
  args:
  - qless
  - qless_test

flake8:
  name: flake8
  language: python
  entry: flake8
  args:
  - qless
  - qless_test
  additional_dependencies:
  - darglint
  - dlint
  - flake8-comprehensions
  - flake8-eradicate
  - flake8-spellcheck
  - flake8-typing-imports
  - mccabe
  - pep8-naming

removestar:
  name: removestar
  language: system
  entry: removestar
  args:
  - -i
  - qless
  - qless_test

safety-production-dependencies-check:
  name: Safety production dependencies check
  entry: safety
  args:
  - check
  - --policy-file=.safety-policy.yml
  - --full-report
  - --file
  language: system

Use json instead of simplejson and target only python3
  forgetful-bench.py
  qless/__init__.py
  qless/config.py
  qless/job.py
  qless/profile.py
  qless/queue.py
  qless/throttle.py
  qless/workers/worker.py
  requirements.txt
  setup.py
  whitelist.txt
Due: black, flake8, removestar, safety-production-dependencies-check

Add py.typed marker file
  MANIFEST.in
  qless/py.typed
Due: none

Move import to beginning of file
  qless/__init__.py
Due: black, flake8, removestar

Remove direct usage of six
  qless/__init__.py
  qless/job.py
  qless/queue.py
  qless/workers/forking.py
  qless/workers/greenlet.py
  qless/workers/worker.py
  qless_test/test_greenlet.py
  qless_test/test_job.py
  qless_test/test_serial.py
  qless_test/test_worker.py
  requirements.txt
  setup.py
Due: black, flake8, removestar, safety-production-dependencies-check

Add types to Worker classes
  qless/job.py
  qless/proctitle.py
  qless/workers/forking.py
  qless/workers/greenlet.py
  qless/workers/serial.py
  qless/workers/util.py
  qless/workers/worker.py
  qless_test/test_forking.py
  qless_test/test_worker.py
  qless_test/test_worker_util.py
  whitelist.txt
Due: black, flake8, removestar

Change formatting of headers in README
  README.md
Due: none

Add types to Client
  qless/__init__.py
  qless_test/test_client.py
  qless_test/test_events.py
  qless_test/test_forking.py
  qless_test/test_greenlet.py
  qless_test/test_job.py
  qless_test/test_queue.py
  qless_test/test_serial.py
  qless_test/test_worker.py
Due: black, flake8, removestar

Add types to Config
  qless/config.py
  qless_test/test_config.py
Due: black, flake8, removestar

Add types to Throttle
  qless/throttle.py
Due: black, flake8, removestar

Fix sporadic test failure due to race condition
  qless_test/test_serial.py
Due: black, flake8, removestar

Remove unneeded hashbangs and executable bits
  qless/__init__.py
  qless/config.py
  qless/exceptions.py
  qless/job.py
  qless/queue.py
  qless/workers/worker.py
  setup.py
Due: black, flake8, removestar

Add AbstractQueueResolver and TransformingQueueResolver
  qless/queue_resolvers/__init__.py
  qless/queue_resolvers/abstract_queue_identifiers_transformer.py
  qless/queue_resolvers/abstract_queue_resolver.py
  qless/queue_resolvers/transforming_queue_resolver.py
  qless_test/test_transforming_queue_resolver.py
  whitelist.txt
Due: black, flake8, removestar

Replace worker.queues with queue resolver
  qless/workers/worker.py
  qless_test/test_worker.py
Due: black, flake8, removestar

Add qmore package and qmore client
  .pre-commit-config.yaml
  pyproject.toml
  qless_test/test_qmore_client.py
  qmore/__init__.py
  qmore/client.py
  qmore/py.typed
  setup.cfg
  setup.py
  whitelist.txt
Due: black, flake8, removestar

Add QmoreDynamicMappingQueueIdentifiersTransformer
  qless/queue_resolvers/__init__.py
  qless/queue_resolvers/qmore_dynamic_mapping_queue_identifiers_transformer.py
  qless_test/common.py
  qless_test/test_qmore_dynamic_mapping_queue_identifiers_transformer.py
  requirements.txt
  whitelist.txt
Due: black, flake8, removestar, safety-production-dependencies-check

Use tempfile to block test job so we can test timeout behavior reliably
  qless_test/test_serial.py
Due: black, flake8, removestar

Add QmoreDynamicPriorityQueueIdentifiersTransformer
  qless/queue_resolvers/qmore_dynamic_priority_queue_identifiers_transformer.py
  qless_test/test_qmore_dynamic_priority_queue_identifiers_transformer.py
Due: black, flake8, removestar

Bump version to 0.12.0a1
  setup.py
Due: black, flake8, removestar

Add missing config for qless.queue_resolvers package
  setup.py
Due: black, flake8, removestar

Increment version for future development
  setup.py
Due: black, flake8, removestar

Don't import all workers
  qless/workers/__init__.py
Due: black, flake8, removestar

Revert to simple long description
  setup.py
Due: black, flake8, removestar

Increment version for next development cycle
  setup.py
Due: black, flake8, removestar

Add missing export for QmoreDynamicPriorityQueueIdentifiersTransformer
  qless/queue_resolvers/__init__.py
Due: black, flake8, removestar

Revert "Revert to simple long description"
  setup.py
Due: black, flake8, removestar

Remove build status badge
  README.md
Due: none

Fix qmore client assumption that fairly will always be set
  qmore/client.py
Due: black, flake8, removestar

queue_identifier_patterns should always have some kind of default pattern
  qless_test/test_qmore_client.py
  qless_test/test_qmore_dynamic_mapping_queue_identifiers_transformer.py
  qmore/client.py
Due: black, flake8, removestar

Extract version to VERSION file
  MANIFEST.in
  VERSION
  setup.py
  whitelist.txt
Due: black, flake8, removestar

Add github action to check style and tests
  .github/workflows/main-build-and-publish.yml
  .github/workflows/other-check-quality-and-tests.yml
  .travis.yml
  requirements.txt
  setup.py
Due: black, flake8, removestar, safety-production-dependencies-check

[skip actions] Increment version for next development cycle
  VERSION
Due: none

Replace a couple of explicit initializer calls with super
  forgetful-bench.py
  qless/job.py
Due: black, flake8, removestar

Refactor to extract Importer
  qless/importer.py
  qless/job.py
  qless_test/test_importer.py
  qless_test/test_job.py
Due: black, flake8, removestar

Refactor to introduce short-circuit in error case
  qless/job.py
Due: black, flake8, removestar

Fix a bunch of tests that referenced non-existant job classes
  qless_test/common.py
  qless_test/test_client.py
  qless_test/test_events.py
  qless_test/test_job.py
  qless_test/test_listener.py
  qless_test/test_queue.py
  qless_test/test_worker.py
  qless_test/test_worker_util.py
  whitelist.txt
Due: black, flake8, removestar

Breaking change to treat job/queue data strictly as json string
  README.md
  qless/abstract/abstract_job.py
  qless/abstract/abstract_queue.py
  qless/job.py
  qless/queue.py
  qless_test/common.py
  qless_test/test_client.py
  qless_test/test_events.py
  qless_test/test_forking.py
  qless_test/test_greenlet.py
  qless_test/test_job.py
  qless_test/test_listener.py
  qless_test/test_queue.py
  qless_test/test_serial.py
  qless_test/test_worker.py
Due: black, flake8, removestar

Path conditions:
  black: any of: \.py$, but not: docs|.git|.tox
  flake8: any of: \.py$, but not: docs|.git|.tox
  removestar: any of: \.py$, but not: docs|.git|.tox
  safety-production-dependencies-check: any of: requirements.txt, but not: docs|.git|.tox
